*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

  }
  body{
    padding: 50px 100px;
    justify-content: center;
    align-items: center;
    background-image: url(p2.jpg);
    height: 100vh;
    
  }
  h1{
    text-align: center;
    color:rgb(255, 255, 255);
    font-size: 50px;
    background-color:#004b4b;
    padding: 10px 10px;
    margin-left: 285px;
    margin-right: 285px;
    border: 2px solid #ffffff;
    border-radius: 5px;
    font-weight: bolder;
  }
  .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      background-color: #018f8f;
      border: 2px solid #ffffff;
      border-radius: 5px;
      padding: 10px 10px;
      margin-left: 285px;
      margin-right: 285px;
      margin-top: 10px;
      font-weight: 600;
    }
    
    .form-group {
      margin-bottom: 1rem;
      margin-top: 1rem;
    }
    
    input[type="number"] {
      width: 200px;
      padding: 0.5rem;
      border-radius: 0.25rem;
      border: 2px solid #f2f2f2;
    }
    #unit{
      font-weight: 600;
      
    }
    #button{
      background-color:black;
      border: #ffffff;
      color:#f2f2f2;
      padding: 10px 15px ;
      border-radius: 20px;
      font-size: 25px;
      margin-top: 15px;
      margin-bottom: 25px;
    }
    #button:hover{
      background-color: #fffbff;
      color: #003333;
      border: 2px solid black;
      border-radius: 20px;
      font-size: 25px;
      transition: .2s ease;
    }